* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
}
*:focus {
  outline: 0;
}
body {
  background-color: #191919;
  color: #fff;
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
.clear {
  clear: both;
}
/* Window - Notifications */
.window {
  display: none;
  position: fixed;
  background-color: #6441a5;
  padding: 2px;
}
.window#notification {
  right: 10px;
  bottom: 10px;
  width: 350px;
}
.window#error {
  left: 10px;
  bottom: 10px;
}
.window .head {
  background-color: #6441a5;
  padding: 5px;
  font-size: 1.2em;
}
.window .main {
  background-color: #191919;
  padding: 1px;
  font-size: 1em;
}
.window .main ul {
  list-style: none;
}
.window .main ul > li:first-child {
  margin-top: 0;
}
.window .main li {
  padding: 5px;
  background-color: #333;
  margin-top: 1px;
}
.window .main li div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.window .main li div.streamer {
  float: left;
  width: 45%;
}
.window .main li div.game {
  float: right;
  width: 55%;
  text-align: right;
}
.window .main .error {
  padding: 5px;
}
/* Time */
#time {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2em;
  padding: 11px 15px;
  line-height: 1.3em;
}
#time .current,
#time .version,
#time .updated {
  float: left;
  padding-left: 15px;
}
#time .updated {
  padding-left: 0;
}
#guide {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-flex;
  background-color: #191919;
  padding: 20px;
}
#guide .center {
  flex-direction: column;
  display: flex;
}
#guide .left,
#guide .right,
#guide .top,
#guide .bottom {
  -webkit-flex: auto;
}
#guide .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#guide .lists {
  width: 20em;
  height: 100%;
  float: left;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background-color: #6441a5;
  margin-right: 20px;
}
#guide .lists .content-lists {
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background-color: #191919;
  margin: 5px;
}
#guide .lists .content-lists .list {
  display: none;
  flex-direction: column;
  height: 2.6em;
  background-color: #222;
}
#guide .lists .content-lists .list.settings {
  display: flex;
}
#guide .lists .content-lists .list.selected {
  flex: auto;
  padding: 0 0 5px;
  border-left: none;
  border-right: none;
  background-color: #6441a5;
}
#guide .lists .content-lists .list.selected.settings {
  padding: 0;
}
#guide .lists .content-lists .list.selected .head {
  color: #fff;
}
#guide .lists .content-lists .list .head {
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2em;
  padding: 5px 10px;
  line-height: 1.5em;
}
#guide .lists .content-lists .list .items {
  display: none;
  background-color: #191919;
  overflow-y: scroll;
  border: 1px solid #191919;
  margin-top: 1px;
}
#guide .lists .content-lists .list .items .item {
  background-color: #333;
  color: #fff;
  margin-top: 1px;
  padding: 5px;
  font-size: 1.1em;
}
#guide .lists .content-lists .list .items .item > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3px;
}
#guide .lists .content-lists .list .items .item:first-child {
  margin-top: 0;
}
#guide .lists .content-lists .list .items .item.followed {
  background-color: #444;
}
#guide .lists .content-lists .list .items .item.selected {
  background-color: #6441a5;
}
#guide .lists .content-lists .list .items .item[type="channel"] .game {
  font-size: 0.9em;
  color: #bbb;
}
#guide .lists .content-lists .list .items .item[type="video"] .title {
  font-size: 0.9em;
  color: #bbb;
}
#guide .lists .content-lists .list .items .item .popup {
  display: none;
  background-color: #6441a5;
  padding-top: 5px;
}
#guide .lists .content-lists .list .items .item .popup .main {
  background-color: #333;
  padding: 1px;
}
#guide .lists .content-lists .list .items .item .popup .main .button {
  background-color: #444;
  margin-top: 1px;
  text-align: center;
  padding: 5px;
  font-size: 0.9em;
  color: #fff;
}
#guide .lists .content-lists .list .items .item .popup .main .button.selected {
  background-color: #6441a5;
}
#guide .lists .content-lists .list .items .item .popup .main .button:first-child {
  margin-top: 0;
}
#guide #info {
  float: left;
  background-color: #222;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  border: 5px solid #6441a5;
}
#guide #info .head {
  background-color: #6441a5;
  border-bottom: 5px solid #6441a5;
}
#guide #info .head > div {
  font-size: 1.2em;
  padding: 5px 10px;
  -webkit-align-items: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}
#guide #info .head .sub-head {
  border: 1px solid #191919;
  font-size: 1.1em;
  color: #bbb;
  background-color: #333;
}
#guide #info .content {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}
#guide #info .content > div {
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  color: #fff;
}
#guide #info .content input {
  color: #191919;
  background-color: #fff;
  border: none;
  width: 250px;
  padding: 3px 6px;
  font-size: 1.1em;
  margin-top: 10px;
  border-radius: 5px;
}
#players {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#players .selector {
  position: fixed;
  display: none;
  background-color: #6441a5;
  opacity: 0.3;
}
#players .selector.default[number="0"] {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1001;
}
#players .selector.default[number="1"] {
  display: block;
  bottom: 28px;
  left: 10px;
  height: 30%;
  width: 30%;
  z-index: 1001;
}
#players .selector.default[number="2"] {
  display: block;
  bottom: 28px;
  left: 50%;
  height: 30%;
  width: 30%;
  margin-left: -15%;
  z-index: 1001;
}
#players .selector.default[number="3"] {
  display: block;
  bottom: 28px;
  right: 10px;
  height: 30%;
  width: 30%;
  z-index: 1001;
}
#players .selector.equal[number="0"] {
  display: block;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  z-index: 1001;
}
#players .selector.equal[number="1"] {
  display: block;
  top: 0;
  left: 50%;
  height: 50%;
  width: 50%;
  z-index: 1001;
}
#players .selector.equal[number="2"] {
  display: block;
  left: 0;
  top: 50%;
  height: 50%;
  width: 50%;
  z-index: 1001;
}
#players .selector.equal[number="3"] {
  display: block;
  left: 50%;
  top: 50%;
  height: 50%;
  width: 50%;
  z-index: 1001;
}
#players .player {
  position: fixed;
}
#players .player.default[number="0"] {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
#players .player.default[number="1"] {
  bottom: 28px;
  left: 10px;
  height: 30%;
  width: 30%;
  z-index: 1000;
}
#players .player.default[number="2"] {
  bottom: 28px;
  left: 50%;
  height: 30%;
  width: 30%;
  margin-left: -15%;
  z-index: 1000;
}
#players .player.default[number="3"] {
  bottom: 28px;
  right: 10px;
  height: 30%;
  width: 30%;
  z-index: 1000;
}
#players .player.equal[number="0"] {
  display: block;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  z-index: 1000;
}
#players .player.equal[number="1"] {
  display: block;
  top: 0;
  left: 50%;
  height: 50%;
  width: 50%;
  z-index: 1000;
}
#players .player.equal[number="2"] {
  display: block;
  left: 0;
  top: 50%;
  height: 50%;
  width: 50%;
  z-index: 1000;
}
#players .player.equal[number="3"] {
  display: block;
  left: 50%;
  top: 50%;
  height: 50%;
  width: 50%;
  z-index: 1000;
}
#players .player webview.video {
  height: 100%;
  width: 100%;
  background-color: #222;
}
#players .player .chat {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25em;
}
#players .player .chat webview {
  height: 100%;
  width: 100%;
  background-color: #222;
}
#webviews #login,
#webviews #users {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #191919;
  height: 100%;
  padding: 20px;
}
#webviews #login .head,
#webviews #users .head {
  position: absolute;
  background-color: #6441a5;
  padding: 5px;
  font-size: 1.2em;
}
#webviews #login webview,
#webviews #users webview {
  width: 100%;
  height: 100%;
  border: 5px solid #6441a5;
}
::-webkit-scrollbar {
  width: 0;
}
